img{
  max-height: 300px;
  max-width: 300px;
}
.save{
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .costume{
    display: flex;
    flex-wrap: wrap;
    >div{
      flex: 1 50%;
    }
    >div:last-child{
      flex: 1 100%;
    }
  }
  .garmentTypes{
    margin-top: 10px;
  }
}
