<h2>Costumes</h2>

<button mat-raised-button color="primary" routerLink="/admin/costumes/new">New</button>
<div class="search">
  <form [formGroup]="form" novalidate (submit)="getCostumes()">
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" matInput placeholder="Search" formControlName="search" autofocus>
    </mat-form-field>
  </form>
</div>
<app-loading *ngIf='loading'>
</app-loading>
<div *ngIf='!loading'>
  <div class="costumes">
    <mat-card *ngFor='let costume of costumes.items'>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{costume.name}}</mat-card-title>
        <mat-card-subtitle>{{costume.description}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image *ngIf='costume.photo' [src]="costume.photo" alt="Photo of costume"> -->
      <mat-card-content>
        <div class="photo" *ngIf='costume.photo' [ngStyle]="{'background-image': 'url(' + costume.photo + ')'}"></div>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/','admin','costumes',costume.costumeId]" mat-button>EDIT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-paginator [length]="costumes.count" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"
    [pageIndex]="page">
  </mat-paginator>
</div>
