.costumes{
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  // display: flex;
  // flex-wrap: wrap;
}
.photo{
  width:200px;
  height: 200px;
  background-size: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
}
