<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
        @RenderBody()
   <script type="text/javascript" asp-src-include="~/inline.bundle.js"></script>
	<script type="text/javascript" asp-src-include="~/polyfills.bundle.js"></script>
	<script type="text/javascript" asp-src-include="~/styles.bundle.js"></script>
	<script type="text/javascript" asp-src-include="~/vendor.bundle.js"></script>
	<script type="text/javascript" asp-src-include="~/main.bundle.js"></script></body>
</html>
