<div style="margin-top:20px;">
  <mat-horizontal-stepper linear="true">
    <mat-step [stepControl]="measurementsForm">
      <ng-template matStepLabel>Enter Measurements</ng-template>
      <app-measurements [measurementsForm]="measurementsForm" (onSearch)="onSearch($event)"></app-measurements>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select Costume</ng-template>
      <app-costumes [measurements]="measurements" (onSelectCostume)="onSelectCostume($event)"></app-costumes>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Select Garments</ng-template>
        <app-garments></app-garments>
      </mat-step>
  </mat-horizontal-stepper>
</div>
